body {
  background-color: aqua;
  background-image: url("./Recursos/logoPrePaginas.png");
  background-position: center;
  background-size: contain;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333;
  background-repeat: no-repeat;
}

.mi_formulario {
  &_container {
    padding: 10px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &_header-image {
    background-image: url("./Recursos/logoPre.jpg");
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 150px;
    padding-top: 100px;
    background-size: cover;
    position: relative;
  }

  &_error {
    color: red;
    font-size: 20px;
    margin-right: 200px;
    text-align: left;
    position: absolute;
  }

  &_body {
    bottom: 100%;
  }

  &_titulo {
    color: white;
    padding-left: 5%;
    text-align: center;
    font-size: 70px;
    margin-top: 5px;
    padding-bottom: 50px;
    text-shadow: 5px 5px 5px black;
    opacity: 100%;
    position: relative;
  }

  &_logo {
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 1%;
    padding-top: 0px;
  }

  &_form {
    padding-left: 5%;
    text-align: left;
    padding-top: 2%;
  }

  &_label {
    color: black;
    font-size: 20px;
    font-weight: 400;
    display: block;
  }

  &_input-icon {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    max-width: 100%;
    
  }

  &_icon {
    position: absolute;
    padding: 5px;
    color: gray;
    min-width: 10px;
    text-align: center;
    padding-left: 1;
  }

  &_input {
    position: relative;
    width: 200px;
    padding: 5px;
    text-align: left;
    margin-right: 15px;
    padding-right: 110%;
    padding-left: 15%;
    color: black;
    font-size: 18px;
    &::placeholder{
      text-align: center;
      padding-left: 25px;
      padding-right: 150%;
    }
  }

  &_espacio1 {
    padding-left: 45%;
    padding-top: 100px;
  }

  &_button {
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
    padding-left: 20px;
    margin-bottom: 100%;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &_footer {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 40px;
  }

  &_group {
    padding-left: 10%;
    position: relative;
    top: 30%;
  }

  &_tabla_hurdle{
    padding-right: 350px;
    max-width: 100%;
  }

}

span.mi_formulario_label {
  color: white;
  font-size: 15px;
  font-weight: 600;
}